
  .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
   
  }
  
  .cartItem {
    width: 700px;
    height: 150px;
    display: flex;
    box-sizing: border-box; 
  
    align-items: center;
    border: 2px solid rgb(185, 177, 177); 
    border-radius: 25px;
    margin: 20px;
  }
  
  .cartItem img {
    width: 100px;
    height: 100px;
  }
  .cartItem .description {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    font-size: 18px;
  }
 .countRemove{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: safe;
  }
  
  .countHandler  {
    width: 40px;
    display: flex;
    justify-content: space-around;
    gap: 5px;

    text-align: center;
    font-weight: bolder;
  }
  
 

  .truncate {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    color: #110e0e;
  }

  .countHandler button{
    height: 30px;
  }
  .countRemove img{
    height: 30px;
    width: 20px;
    
  }

  .total{
  
    gap: 20px;
    font-size: 20px;
  }

.cartPrice{
    color: black
}
.cartMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: #615c5c;

}
.cartMessage img{
height: 200px;



}
.cartss{
  display: flex;
}
.checkout{
  margin: 30px;
  border: 2px solid rgb(185, 177, 177); 
  border-radius: 25px;
  width: 300px;
  height: 300px;


  padding: 20px;
}

.checkout p{
display: flex;
justify-content: space-between;
}

.btn-summary{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 30px;
}